
@use '@material/button/mdc-button';
@use '@material/button';

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}

.header {
  text-align: center;
}

.mind-click-logo {
  width: 200px;
  padding: 40px;
}

.foo-button {
  @include button.container-fill-color(darksalmon);
}
