$mdc-theme-primary: #118bfc;
$mdc-theme-on-primary: #002984;
$mdc-theme-secondary: #30b300;
$mdc-theme-on-secondary: #74e636;
$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #000;
$mdc-theme-background: #fff;
$mdc-theme-on-background: #fff;
$mdc-theme-error: #de0c0e;
$margin: 0;
$max-width: 1440px;