@import "./variables";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/elevation/mdc-elevation";
@import "@material/button";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.mind-click-logo {
  margin-top: 5rem;
  width: 150px;
  padding: 40px;
}

.home-content {
  align-self: stretch;
  width: 100%;
  padding-left: 1rem;

  h1 {
    padding: 1rem;
  }
}

.container-terna {
  min-height: 15rem;

  h3,
  p {
    padding: 1rem 1rem 1rem 0;
  }

  button {
    margin: 1rem;

    .mdc-button__label {
      color: #fff;
    }
  }

  .terapeuta-card {
    min-height: 10rem;
  }
}
