@import "./variables";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/elevation/mdc-elevation";
@import "@material/button";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/shape";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/top-app-bar/mdc-top-app-bar";
// @import "@material/icon-button";

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}

// -------------------------------------------------------------------Navbar----------------------------------------------------------------------
.mdc-top-app-bar__navigation-icon {
  display: none !important;
}

// -------------------------------------------------------------------Main Content----------------------------------------------------------------------
.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
  padding: 0;
}

.mind-click-logo {
  margin-top: 5rem;
  width: 150px;
  padding: 40px;
}

.home-content {
  align-self: stretch;
  width: 100%;
  padding: 0;

  @include mdc-layout-grid(phone, $margin);

  h1 {
    padding: 1rem;
  }
}

.mdc-button__label {
  color: #fff;
}

.container-terna {
  min-height: 15rem;
  padding: 0;

  h3 {
    padding: 1rem 0;
  }

  button {
    margin: 1rem;
  }

  .terapeuta-card {
    min-height: 10rem;

    &-price {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.75rem 0.75rem 0.75rem 1rem;
      background-color: rgba($mdc-theme-secondary, 0.7);
      border-top-right-radius: 15px;
    }

    &-name {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bolder;
    }

    &-descripcion {
      padding: 0.25rem 0 0.25rem 1rem;
      display: flex;
      flex-direction: row;
      text-justify: center;
      font-size: 0.9rem;

      p {
        padding: 0 1rem 0 0;
      }
    }

    &-information-button {
      padding: 0;
      margin-bottom: 0;
    }

    &-stats {
      padding: 1rem 0;
    }

    &-schedule {
      padding: 0 1rem;

      &-button {
        padding: 0;
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .intuitivo {
    color: #d00491;
  }

  .practico {
    color: #118bfc;
  }

  .cercano {
    color: #74e636;
  }

  .compasivo {
    color: #fecf02;
  }

  .humor {
    color: #f9144e;
  }
}

.container-terna-mas-opciones {
  padding: 1rem 0;

  button {
    margin: 0;
  }
}

.schedule-form--hidden {
  visibility: hidden;
}

.schedule-form {
  padding: 0 1rem;
  overflow: hidden;

  .mdc-button {
    margin: 1rem;
  }
}

.schedule-form__animating-container {
  overflow: hidden;
  transform: translateY(0);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.schedule-form__animating-container--animating {
  transform: translateY(-110%);
}

.schedule-form-more {
  button {
    margin: 0 !important;
  }
}

// -------------------------------------------------------------------Sesiones----------------------------------------------------------------------
.sesiones {
  &-item {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &-perfil,
    &-texto {
      margin: 0 1rem;
    }

    &-boton {
      margin: 0 1rem 0 auto;
    }

    &-rating {
      display: flex;
      align-items: flex-start;
      color: #fecf02;
    }
  }

  &-pasadas {
    max-height: 20rem;

    &-scrollable {
      overflow-y: scroll;
    }
  }

  .mdc-tab-scroller__scroll-area {
    flex-direction: column;
  }
}

// -------------------------------------------------------------------Media Queries----------------------------------------------------------------------
// Breakpoint for bigger tablet and desktop screens
@media (max-width: 768px) {
  .mdc-top-app-bar__navigation-icon {
    display: block !important;
  }

  .sesiones-item-rating {
    display: none;
  }
}
