@import "@material/textfield/mdc-text-field";

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}

.header {
  text-align: center;
}

.mind-click-logo {
  margin-top: 10rem;
  width: 150px;
  padding: 40px;
}

.username,
.password {
  display: flex;
  margin: 20px auto;
  width: 300px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
